# Byte-compiled / cache
__pycache__/
*.pyc

# Virtualenv
venv/

# Large weights and data
79999_iter.pth
*.pth
*.pt

# Outputs
output/
old/

# OS files
.DS_Store

# Netgen/mesh artifacts
*.vol
*.vol.gz
*.mesh

# Logs
*.log

# Exclude specific inputs
inputs/input_01.jpg
inputs/input_02.jpg
inputs/input_06.jpg
